.app {
  font-family: sans-serif;
  text-align: center;
}

.app {
  height: 300vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000000;
  font-size: 56px;
  line-height: 1;
}

button {
  font-size: 69px;
  color: rgb(176, 226, 136);
  background-color: rgb(250, 177, 21);
  border: 20px solid rgb(81, 107, 253);
  border-radius: 40px;
  line-height: 1;
  padding: 6px 30px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto;
  outline: none;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: black;
  color: white;
}

input {
  width: 246px;
  font-size: 56px;
  line-height: 20px;
  color: rgb(178, 180, 18);
  padding: 10px;
  border: 1px solid rgb(184, 38, 38);
  cursor: pointer;
}

input::placeholder {
  color: gray;
}

input:focus {
  border: 1px solid black;
  outline: none;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 56px;
  text-shadow: 5px 5px 5px rgb(236, 116, 17);
  color: rgb(228, 5, 5);
  font-weight: bold;
}

h2 {
  font-size: 56px;
  text-shadow: 3px 3px 5px rgb(0, 5, 1);
  color: rgb(0, 121, 16);
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item:hover {
  background-color: rgb(252, 154, 42);
}

.item {
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  background-color: rgb(77, 170, 247);
  margin: 15px;
}

.item.selected {
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px rgb(255, 255, 255);
}

.alert {
  width: 3000px;
  color: Blue;
  font-size: 56px;
  font-family: Impact;
  text-align: center;
}

input {
  margin: 20px auto;
}

label {
  margin-right: 15px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* ---------------Animation---------------- */

.slit-in-vertical {
  -webkit-animation: slit-in-vertical 0.45s ease-out both;
  animation: slit-in-vertical 0.45s ease-out both;
}

@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

/*---------------#region Alert--------------- */

#dialogoverlay {
  display: none;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #707070;
  width: 100%;
  z-index: 10;
}

#dialogbox {
  display: none;
  position: absolute;
  background: rgb(255, 0, 0);
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.575);
  transition: 0.3s;
  width: 40%;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#dialogbox:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.911);
}

.container {
  padding: 2px 16px;
}

.pure-material-button-contained {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 0, 77, 70));
  /* background-color: rgb(1, 47, 61) */
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(
    --pure-material-font,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 56px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
  border: none;
}

/* ---------------Overlay--------------- */

.pure-material-button-contained::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
  opacity: 0.08;
}

.pure-material-button-contained:focus::before {
  opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.pure-material-button-contained:disabled::before {
  opacity: 0;
}

.pure-material-button-contained:disabled::after {
  opacity: 0;
}

#dialogbox > div {
  background: #fff;
  margin: 8px;
}

#dialogbox > div > #dialogboxhead {
  background: rgb(255, 0, 0);
  font-size: 56px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dialogbox > div > #dialogboxbody {
  background: rgb(255, 0, 0);
  padding: 20px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dialogbox > div > #dialogboxfoot {
  background: rgb(255, 0, 0);
  padding: 10px;
  text-align: right;
}
/*#endregion Alert*/
